<%= form_with(model: doc, local: true, html: {:'id' => 'form'}) do |form| %>
  <% if doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titile %>
    <%= form.text_field :titile %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  use form submit: <input type="checkbox" id="checkbox" />
<% end %>
<script>
  window.onload = () => {
    const xcsrfTokenField = document.getElementsByName("authenticity_token")[0];
    const titleInput = document.getElementById("doc_titile");
    const contentInput = document.getElementById("doc_content");
    const checkboxInput = document.getElementById("checkbox");
    async function postData(evt) {
      evt.preventDefault();
      evt.stopPropagation();
      if (checkboxInput.checked) {
        evt.currentTarget.submit();
      }

      return fetch("/docs", {
        method: "POST",
        credentials: "same-origin",
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': xcsrfTokenField.value
        },
        body: JSON.stringify({
          title: titleInput.value,
          content: contentInput.value
        })
      });
    }
    document.getElementById("form").addEventListener("submit", postData);
  }
</script>
